<form [formGroup]="firstFormGroup" class="step-content-wrapper" ngClass.xs="mobile" fxLayout="column"
  fxLayoutAlign="start center">
  <mat-form-field class="mat-form-field" ngClass.xs="mobile">
    <input matInput placeholder="email" value="" formControlName="firstCtrl" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="password" formControlName="secondCtrl" required>
  </mat-form-field>

  <button class="join-button" ngClass.xs="mobile" mat-button cdkFocusInitial (click)="onclick($event)">

    <mat-icon class="icon-login">exit_to_app</mat-icon>
    <span>Unirse a Jobbag</span>

  </button>
</form>
