<form [formGroup]="formGroup" class="step-content-wrapper" ngClass.xs="mobile" fxLayout="column"
  fxLayoutAlign="start center">

  <mat-form-field ngClass.xs="mobile">
    <input matInput mat-form-field-control type="email" placeholder="email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput mat-form-field-control type="password" placeholder="password" formControlName="password" required>
  </mat-form-field>

  <button class="join-button" ngClass.xs="mobile" mat-button cdkFocusInitial (click)="onclick()">

    <mat-icon class="icon-login">exit_to_app</mat-icon>
    <span>Unirse a Jobbag</span>

  </button>
</form>
