<div class="footer-container" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column"
  fxLayoutAlign.xs="start center" fxLayout.sm="column" fxLayoutAlign.sm="start center" ngClass.xs="mobile-fcont"
  ngClass.sm="mobile-fcont">

  <div class="footer-column first" fxFlex="33" fxFlex.sm="1" fxFlex.xs="1" fxLayout="column" fxLayoutAlign="center center"
    ngClass.xs="mobile-col" ngClass.sm="mobile-col">
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 1 Elemento 1</div>
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 1 Elemento 2</div>
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 1 Elemento 3</div>
  </div>

  <div class="footer-column" fxFlex="33" fxFlex.sm="1" fxFlex.xs="1" fxLayout="column" fxLayoutAlign="center center"
    ngClass.xs="mobile-col" ngClass.sm="mobile-col">
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 2 Elemento 1</div>
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 2 Elemento 2</div>
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 2 Elemento 3</div>
  </div>

  <div class="footer-column last" fxFlex="33" fxFlex.sm="1" fxFlex.xs="1" fxLayout="column" fxLayoutAlign="center center"
    ngClass.xs="mobile-col" ngClass.sm="mobile-col">
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 3 Elemento 1</div>
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 3 Elemento 2</div>
    <div class="footer-item" ngClass.xs="mobile-it" ngClass.sm="mobile-it">Columna 3 Elemento 3</div>
  </div>

</div>
