
<div class="step-content-wrapper" fxLayout="column" fxLayoutAlign="start center" ngClass.xs="mobile">
  <div class="step-title">Mis paises</div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around start" class="cards-wrapper" ngClass.xs="mobile">
      <mat-accordion fxLayout="column" fxLayoutAlign="space-around space-around" class="country-wrapper" ngClass.xs="mobile" *ngFor="let country of countries; let i = index">
        <mat-expansion-panel id="{{country.isoCode}}" class="whole-country" [ngClass]="{'selected':country.selected == 2,'semi-selected':country.selected == 1}" (afterExpand)="afterPanelExpand(i)">
          <mat-expansion-panel-header style='padding-left: 0;'>
            <mat-panel-description style="margin-right: 0">
                <mat-card class="location country" [ngClass]="{'selected':country.selected == 2,'semi-selected':country.selected == 1}" ngStyle.xs="margin-right: 50px;"
                fxLayout="row-reverse" fxLayoutAlign="row-reverse center">
                  <mat-card-title class="button-title mobile" fxLayout="row" fxLayoutAlign="end center">
                    <span>{{country.name}}</span>
                  </mat-card-title>
                </mat-card>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-expansion-panel-body">
            <mat-card class="province" ngStyle.xs="margin-right: 50px;" *ngFor="let province of country.children" [ngClass]="{'selected':province.selected == 2,'semi-selected':province.selected == 1}"
              fxLayout="row-reverse" fxLayoutAlign="row-reverse center" (mousedown)="onmousedown($event)" (mouseup)="onMouseUp({'$event':$event,'location':province})">
              <mat-card-title class="button-title mobile" ngClass.xs="" fxLayout="row" fxLayoutAlign="end center">
                  <span >{{province.parentId == undefined ? "Todo " + province.name : province.name}}</span>
              </mat-card-title>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>

