<div class="header-container" color="primary" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center center" >
<mat-toolbar class="toolbar" color="primary" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="start center" ngClass.xs="is-mobile">

  <div style="width:100%" color="primary" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutAlign.xs="start center">

    <button mat-icon-button (click)="buttonPress()" fxShow.xs fxHide.sm fxHide.md fxHide.lg fxHide.xl>
      <mat-icon>more_vert</mat-icon>
    </button>

    <div style="margin-left: 20px;"> Hola {{user.name != "" ? user.name + " " + user.surname : (user.email != "" ? user.email : "Invitado") }}!</div>

    <div fxHide.xs fxShow.sm >

      <button mat-button class="menu-item-first-level">
        <mat-icon>search</mat-icon><span>Search Job</span>
      </button>

      <button mat-button class="menu-item-first-level" routerLink="/project-add-wizard">
        <mat-icon>folder_open</mat-icon><span>Post Job</span>
      </button>

      <button mat-button [matMenuTriggerFor]="mainmenu" class="menu-item-first-level more">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #mainmenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="user_account">
          <mat-icon>person</mat-icon>Account
        </button>
        <button mat-menu-item [matMenuTriggerFor]="other">
          <mat-icon>more_horiz</mat-icon>Other
        </button>
        <button mat-menu-item [matMenuTriggerFor]="other_more">
          <mat-icon>more_horiz</mat-icon>Other more
        </button>
      </mat-menu>

      <mat-menu #user_account="matMenu" xPosition="before">
        <button mat-menu-item (click)="login()">Login</button>
        <button mat-menu-item>Logout</button>
        <button mat-menu-item>Etc</button>
      </mat-menu>

      <mat-menu #other="matMenu">
        <button mat-menu-item>Next</button>
        <button mat-menu-item>Next</button>
        <button mat-menu-item>Next</button>
      </mat-menu>

      <mat-menu #other_more="matMenu">
        <button mat-menu-item>Next</button>
        <button mat-menu-item>Next</button>
        <button mat-menu-item>Next</button>
      </mat-menu>

    </div>

  </div>

</mat-toolbar>
</div>
