<div class="header-container" ngClass.xs="is-mobile" color="primary" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center center" >
<mat-toolbar class="toolbar" ngClass.xs="is-mobile" color="primary" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="start center">

  <div style="width: 100%;height: 1px;position: absolute;bottom: 0;z-index: -1;box-shadow: 0 1px 1px rgba(51, 51, 51, 0.25);background: transparent;left:0;"></div>
  <div style="width:100%" color="primary" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutAlign.xs="start center">

    <button class="mobile-button" ngClass.xs="is-mobile" mat-icon-button (click)="buttonPress()" fxShow.xs fxHide.sm fxHide.md fxHide.lg fxHide.xl>
      <mat-icon>more_vert</mat-icon>
    </button>
    <img src="{{logoUrl}}" style="height: 37px;margin-right: auto;">

    <div *ngIf="user.username != ''" style="margin: 0 auto 0 20px;"> {{user.name + " " + user.surname}}</div>

    <div fxHide.xs fxShow.sm>

      <button mat-button class="menu-item-first-level" routerLink="add-project">
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Contratar</span>
      </button>

      <button mat-button class="menu-item-first-level" routerLink=".">
        <mat-icon>search</mat-icon>
        <span>Buscar Trabajos</span>
      </button>

    </div>

    <div ngStyle.xs="margin-left:auto;">

      <button mat-button class="menu-item-first-level login-button" ngClass.xs="is-mobile" (click)="loginLogout()">
        <mat-icon class="icon-login" [ngClass]="{'not-logged' : user.username == ''}">exit_to_app</mat-icon>
        <span>{{user.username == "" ? "Entrar" : "Salir"}}</span>
      </button>

      <button fxHide.xs *ngIf="user.username != ''" mat-button [matMenuTriggerFor]="mainmenu" class="menu-item-first-level more">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #mainmenu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>Mi Perfil
        </button>
        <button mat-menu-item>
          <mat-icon>assignment_ind</mat-icon>Mis Contratos
        </button>
        <button mat-menu-item>
          <mat-icon>build</mat-icon>Mis Trabajos
        </button>
        <button mat-menu-item>
          <mat-icon>group</mat-icon>Mis Amigos
        </button>
      </mat-menu>
    </div>

  </div>

</mat-toolbar>
</div>
