
<div class="step-content-wrapper" fxLayout="column" fxLayoutAlign="center center" ngClass.xs="mobile">

    <div class="step-title">Mis profesiones</div>

      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around space-around" class="cards-wrapper" ngClass.xs="mobile">

        <mat-card class="steps-button" [ngClass.xs]="{'mobile':true,'selected':profession.selected}" *ngFor="let profession of availableProfessions" [ngClass]="{'selected':profession.selected}"
          fxLayout="row-reverse" fxLayoutAlign="row-reverse center" (mousedown)="onmousedown($event)" (mouseup)="onMouseUp({'$event':$event,'profession':profession})">

          <mat-card-title class="button-title mobile" ngClass.xs="" fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex="80%">{{profession.name}}</span>
          </mat-card-title>

          <mat-icon class="steps-button-icon mobile" ngClass.xs="" *ngIf="profession.avatar.type == 2" svgIcon="{{profession.avatar.url}}"></mat-icon>
          <mat-icon class="steps-button-icon mobile" ngClass.xs="mobile" *ngIf="profession.avatar.type == 1">{{profession.avatar.url}}</mat-icon>

        </mat-card>

      </div>

  </div>
