
<div class="step-content-wrapper" fxLayout="column" fxLayoutAlign="center center" ngClass.xs="mobile">

    <div class="step-title">Mis profesiones</div>

      <div class="professions-wrapper" ngClass.xs="mobile">
      <div fxLayout="row wrap" fxLayoutAlign="space-around space-around" fxLayout.xs="column" fxLayoutAlign.xs="start center" class="cards-wrapper" ngClass.xs="mobile">

        <mat-card class="steps-button" [ngClass.xs]="{'mobile':true,'selected':experience.profession.selected}" *ngFor="let experience of availableExperiences" [ngClass]="{'selected':experience.profession.selected}"
          fxLayout="row-reverse" fxLayoutAlign="row-reverse center">

          <button mat-icon-button class="experience-button-close mobile" (mousedown)="onmousedown($event)" (mouseup)="onMouseUpAdd({'$event':$event,'experience':experience})">
              <mat-icon>add</mat-icon>
            </button>
            <input matInput mat-form-field-control type="text"  [ngModel]="experience.years" style="width: 20px;text-align: center;margin-top: 0;">
            <button mat-icon-button class="experience-button-close mobile"  (mousedown)="onmousedown($event)" (mouseup)="onMouseUpRemove({'$event':$event,'experience':experience})">
                <mat-icon>remove</mat-icon>
              </button>

          <mat-card-title class="button-title mobile" ngClass.xs="" fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex="80%">{{experience.profession.name}}</span>
          </mat-card-title>

          <mat-icon class="steps-button-icon mobile" ngClass.xs="" *ngIf="experience.profession.avatar.avatartype == 2" svgIcon="{{experience.profession.avatar.url}}"></mat-icon>
          <mat-icon class="steps-button-icon mobile" ngClass.xs="mobile" *ngIf="experience.profession.avatar.avatartype == 1">{{experience.profession.avatar.url}}</mat-icon>



        </mat-card>

      </div>
    </div>
    <div class="button-wrapper"><button mat-button class="add-button"  ngClass.xs="mobile" (click)="addExperiences()"><mat-icon>add</mat-icon>Agregar</button></div>

  </div>
