

<div class="step-content-wrapper" fxLayout="column" fxLayoutAlign="start center">

  <div class="header"></div>

  <div class="content" ngClass.xs="mobile" fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column" fxLayoutAlign.xs="center center">

    <div class="content-column second" fxLayout="column" fxLayoutAlign="center center">

      <mat-radio-group aria-label="Select an option" ngClass.xs="mobile" fxLayout="column" fxLayoutAlign="center start" style='padding: 25px;' (change)="onSelection($event)">
        <mat-radio-button value="false" style="margin-bottom: 30px;">Cuenta personal</mat-radio-button>
        <mat-radio-button value="true">Cuenta empresarial</mat-radio-button>
      </mat-radio-group>

    </div>

    <form class="content-column" [formGroup]="formGroup" ngClass.xs="mobile" fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field ngClass.xs="mobile" class="field">
        <input matInput mat-form-field-control type="text" placeholder="Nombre" formControlName="name">
      </mat-form-field>

      <mat-form-field  *ngIf="company=='false'">
        <input matInput mat-form-field-control type="text" placeholder="Apellido" formControlName="surname">
      </mat-form-field>

      <mat-form-field *ngIf="company=='true'">
        <input matInput mat-form-field-control type="text" placeholder="Dirección" formControlName="direccion">
      </mat-form-field>

    </form>
  </div>
</div>

