<!-- header -->
<app-header (toggleNav)="onToggleNav($event)" (toggleLogin)="onToggleLogin($event)" [user]="user"></app-header>

<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav [(opened)]="opened">
    <mat-nav-list>
      <div mat-list-item routerLink=".">
        <button mat-button>
          <mat-icon>more_horiz</mat-icon><span>Login</span>
        </button>
      </div>
      <div mat-list-item routerLink=".">
        <button mat-button>
          <mat-icon>folder_open</mat-icon><span>Post Job</span>
        </button></div>
      <div mat-list-item routerLink=".">
        <button mat-button (click)="test()">
          <mat-icon>search</mat-icon><span>Search Job</span>
        </button>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content-container" ngClass.xs="mobile-content" ngClass.sm="mobile-content"><router-outlet></router-outlet></div>
    <!-- footer -->

    <app-footer style="min-height: 300px;"><span>Footer</span></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
