
<div class="step-content-wrapper" ngClass.xs="mobile" fxLayout="column" fxLayoutAlign="center start" style="height: 100%">

<div style="margin:20px 0 50px;">Díganos que role va a configurar en estos momentos:</div>

<mat-radio-group aria-label="Select an option" ngClass.xs="mobile" fxLayout="column" fxLayoutAlign="center start" style='margin-bottom: auto;padding-left: 20px;' (change)="onSelection($event)">
    <mat-radio-button value="4" style="margin-bottom: 30px;">Deseo Contratar Servicios</mat-radio-button>
    <mat-radio-button value="3">Deseo Proponer mis Servicios</mat-radio-button>
  </mat-radio-group>

</div>
