

<div class="step-content-wrapper" fxLayout="column" fxLayoutAlign="start center">

  <div class="header">Datos generales:</div>

  <div class="content" ngClass.xs="mobile" fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column" fxLayoutAlign.xs="center center">

    <div class="content-column" ngClass.xs="mobile" fxLayout="column" fxLayoutAlign="start center">

      <span>Añada su avatar</span>

    </div>

    <div class="content-column second" fxLayout="column" fxLayoutAlign="center center">
      <img href="">
    </div>
  </div>
</div>

