

<div class="step-content-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <div class="header"></div>

  <div  class="content" ngClass.xs="mobile" fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
  <form [formGroup]="formGroup">

      <mat-form-field ngClass.xs="mobile">
        <input matInput mat-form-field-control type="email" placeholder="Correo" formControlName="email" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput mat-form-field-control type="password" type="password" placeholder="Contraseña" formControlName="password" required>
      </mat-form-field>

      <button mat-button (click)="login()" class="login-button" cdkFocusInitial>
          <mat-icon svgIcon="exit_to_app">exit_to_app</mat-icon>
          <span>Entrar</span>
      </button>
  </form>

  <span style="margin-top: 15px;text-align: center;"> No tienes cuenta aún? </span>

  <button mat-button (click)="createAccount()" class="create-account">
      <mat-icon svgIcon="exit_to_app">exit_to_app</mat-icon>
      <span>Crear cuenta</span>
  </button>

  <mat-checkbox class="remember-me" [(ngModel)]="rememberme">Recordarme</mat-checkbox>

</div>

</div>

