<div class="dialog-wrapper">
<div mat-dialog-content>
  <p>Correo Electrónico</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <p>Contraseña</p>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="data.password">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayoutAlign="space-around center">
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <button mat-button (click)="onCancel()">Cancelar</button>
</div>
<mat-checkbox class="remember-me" [(ngModel)]="data.rememberme">Recordarme</mat-checkbox>
<mat-divider class="social-divider"></mat-divider>
<button mat-button (click)="facebookClick()" class="social-button f-social">
  <mat-icon svgIcon="facebook"></mat-icon>
  <span>Facebook</span>
</button>
<button mat-button class="social-button g-social">
  <mat-icon svgIcon="google-plus"></mat-icon>
  <span>Google+</span>
</button>
<mat-divider class="create-account-divider"></mat-divider>
<div class="create-account">
    <span>No inscrito aún?</span> <a routerLink="create-account" (click)="onCancel()"><span>Crear cuenta</span></a>
</div>

</div>
